# project-wide ignores
__pycache__/
*.log
.vscode/

# ignore selected heavy artifacts inside each Iteration_* folder
**/Iteration_*/**/*.joblib
**/Iteration_*/**/pred_cache/
**/Iteration_*/**/*.png

# ignore the virtual environment
**/venv/

# ignore the Best_model folder
**/Best_model/

# ignore the Results folder
**/Results/

# ignore debug iterations outputs (including summary files)
Pipeline/Iterations_debug/

# ignore generated timestamp cache files (e.g., timestamps_list_decim_3.joblib)
**/timestamps_list_decim_*.joblib

# ignore Dataset
Dataset
